anyio
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
attrs
backcall
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
colorama
comm
crispy-bootstrap5
decorator
defusedxml
distlib
Django
django-cors-headers
django-crispy-forms
django-filter
djangorestframework
EasyProcess
entrypoint2
executing
fastjsonschema
filelock
fqdn
isoduration
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration
jedi
Jinja2
jsonpointer
jsonschema
jupyter
jupyter-console
jupyter-events
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab-pygments
jupyterlab-widgets
MarkupSafe
matplotlib-inline
mistune
MouseInfo
mss
mysqlclient
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
opencv-contrib-python
packaging
pandocfilters
gunicorn 
